* {
  margin: 0;
  padding: 0;
}

pre {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: "Tahoma", serif;
  font-size: 32px;
  color: #f44336;
}

.list-item:nth-child(2n + 1) {
  background-color: orange;
}

/* .list-item:nth-child(odd) {
  background-color: orange;
} */
